* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: #5fc0cd;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header p {
    width: 100%;
    text-align: center;

    font-size: 1rem;
    color: white;

}

.header a {
    position: absolute;
    display: inline-block;
    padding-left: 0.5rem;
}

/*当出现浮动或者绝对定位时，
元素的display显示类型就会自动变为以 display:inline-block（块状元素）的方式显示*/
.header img {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}

.background {
    background-image: url("task5-1_002.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 9rem;
    position: relative;

}

.wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-1 {
    height: 5rem;
    vertical-align: middle;
    display: inline-block;
    margin-left: 1.5rem;
}

.img-1 img {
    height: 100%;

}

.background__txt {
    padding-left: 1rem;
    color: white;
    vertical-align: middle;
    display: inline-block;
}

.img-2 img {
    width: .6rem;
    height: .8rem;
    padding-right: .4rem;
}

.skill span {
    border-left: 4px solid #5fc0cd;
    font-size: 1rem;
    padding-left: .5rem;
    line-height: 3rem;
}

.skill {
    border-bottom: 1px solid gainsboro;
    padding-left: 1rem;
    height: 3rem;
}

.star img {
    width: 1rem;
    height: 1rem;
    padding: 0 .3rem 0 1rem;
    vertical-align: middle;
}

li {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid gainsboro;
    list-style: none;
}

li span {
    padding: 0 1rem;
    color: grey;
}

.border-right {
    border-left: 1px solid gainsboro;
    color: black;
}

.wrap-2 {
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid gainsboro;
}

.border-top {
    position: absolute;
    color: grey;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid gainsboro;
    padding-right: 1rem;
}

.border-bottom {
    margin-left: 5rem;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

.left {
    width: 45%;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #68cdd5;
    border-radius: .5rem;
    color: #68cdd5;
    background: white;
}

.right {
    width: 45%;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #68cdd5;
    border-radius: .5rem;
    background: #68cdd5;
    color: white;
}
.all{
    margin: 3rem 0 4rem;
    font-size: .7rem;
}